.container{
  /* border: 1px solid black; */
  width: 80%;
  margin: 20px auto;
  
}
.headList{
  margin: 0px auto;
  background-color: #41431B;
  color: white;
  display: flex;
  justify-content: space-around;
  
}
.container li{
  width: 25%;
  height: 3rem;
  border-right: 3px solid white;
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}